.modalContainer {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  color: #292929;
  text-align: center;
  border-radius: 20px;
  padding: 1.5rem 1.5rem 2rem;
}

.closeButton {
  cursor: pointer;
	border: none;
	outline: none;
  background-color: #fff;
}

.closeImage {
	width: 1.875rem;
	height: 1.875rem;
	color: #d0021b;
}

.content {
  font-size: 1.125rem;
  margin: 0 0 1.5rem;
}

.img {
  width: 64px;
  color: #d0021b;
  height: auto;
  margin-bottom: 15px;
}

  
