@use '../../pages/breakpoints';

.container {
	width: 100%;
}

.pokemonList {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: center;
}

.btnContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media (max-width: breakpoints.$md) {
		flex-wrap: wrap;
	}
}

.btn {
	background: #d0021b;
	margin-right: 0.5rem;
	color: #fff;
	font-size: 1rem;
	text-align: center;
	display: inline-block;
	padding: 15px 60px;
	border: 1px solid #fff;
	cursor: pointer;
	letter-spacing: 2px;
	position: relative;
	overflow: hidden;
	flex: 1 1;
}

.btn:before {
	content: "";
	position: absolute;
	height: 150px;
	width: 50px;
	background: #fff;
	left: -55px;
	top: -40px;
	transform: rotate(37deg);
	transition: all .3s;
	opacity: 0.3;
}

.btn:hover:before {
	left: 95%;
}

.btn:last-child {
	margin-right: 0;
}