.container {
	margin: 3rem auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50rem;
}

.screenContainer {
	margin: 0 0 4rem;
}

.actionBarContainer {
	display: flex;
	justify-content: space-between;
	margin: 0 0 1rem;
	min-width: 50rem;
}

.actionContainer {
	display: flex;
	align-items: center;
}

.restartBtn {
	border: 0;
	outline: 0;
	font-size: 1.5rem;
	cursor: pointer;
	background-color: unset;
	margin-right: 1rem;
	padding: 0;
	display: flex;
	align-items: center;
	color: #6aaa64;
}

.scoreText {
	font-size: 1.5rem;
	margin: 0
}

.tipContainer {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	min-height: 4.25rem;
	padding: 0;
}

.tipButton {
	border: 0;
	outline: 0;
	font-size: 1.5rem;
	cursor: pointer;
	background-color: unset;
	margin-right: 1rem;
}

.tipContent {
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.tipRegion {
	font-size: 1.5rem;
	margin: 0;
}

.tipImageContainer {
	margin: 0 1.5rem;
}

.tipImage {
	width: 2rem;
	height: 2rem;
	margin: 0 0.125rem;
}

.spriteBtn {
	cursor: pointer;
	padding: 0;
	border-radius: 0.5rem;
	border: 1px solid #eee;
	background-color: #fff;
	height: 4rem;
	width: 4rem;
	padding: 0.125rem;
}

.tipPokeImage {
	width: 3.875rem;
	height: 3.875rem;
}

.darkImage {
	filter: brightness(0%);
}

.spriteBtn:hover {
	border: 1px solid #000;
}

.rowContainer {
	display: flex;
	margin-bottom: 0.25rem;
}

.letterContainer {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border: 2px solid #d3d6da;
	border-radius: 0.25rem;
	color: #292929;
	flex: 1 1 100%;
	max-width: 3.875rem;
	height: 3.875rem;
	box-sizing: border-box;
	margin: 0 0.125rem
}

.correctPosition {
	background-color: #6aaa64;
	color: #fff;
}

.correctLetter {
	background-color: #c9b458;
	color: #fff;
}

.wrongLetter {
	background-color: #787c7e;
	color: #fff;
}

.letter {
	min-width: 4rem;
	min-height: 4rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	line-height: 1;
	font-weight: bold;
	vertical-align: middle;
	text-transform: uppercase;
	user-select: none;
}

.keyboardContainer {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}

.keyboardButton {
	flex: 1 1 10%;
}