@use '../../pages/breakpoints';

.container {
	margin: 3rem auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50rem;

	@media (max-width: breakpoints.$md) {
		width: 100%;
		max-width: 100%;
	}
}

.screenContainer {
	margin: 0 0 4rem;

	@media (max-width: breakpoints.$md) {
		margin: 0 0 2rem;
	}
}

.actionBarContainer {
	display: flex;
	justify-content: space-between;
	margin: 0 0 1rem;
	min-width: 50rem;

	@media (max-width: breakpoints.$md) {
		min-width: unset;
		<<<<<<< HEAD margin: 0 0.25rem 1rem;
		=======margin: 0 0.5rem 1rem;
		>>>>>>>bdf395dcc43b84357ee6edac30327486423714cf
	}
}

.actionContainer {
	display: flex;
	align-items: center;
}

.restartBtn {
	border: 0;
	outline: 0;
	font-size: 1.5rem;
	cursor: pointer;
	background-color: unset;
	margin-right: 1rem;
	padding: 0;
	display: flex;
	align-items: center;
	color: #6aaa64;

	@media (max-width: breakpoints.$md) {
		border: 1px solid #6aaa64;
		border-radius: 0.25rem;
		padding: 0.25rem;
	}

}

.scoreText {
	font-size: 1.5rem;
	margin: 0;

	@media (max-width: breakpoints.$md) {
		font-size: 1rem;
	}
}

.tipContainer {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	min-height: 4.25rem;
	padding: 0;
}

.tipButton {
	border: 0;
	outline: 0;
	font-size: 1.5rem;
	cursor: pointer;
	background-color: unset;
	margin-right: 1rem;
	text-decoration: underline;

	@media (max-width: breakpoints.$md) {
		font-size: 1rem;
	}
}

.tipContent {
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.tipRegion {
	font-size: 1.5rem;
	margin: 0;

	@media (max-width: breakpoints.$md) {
		font-size: 1rem;
	}
}

.tipImageContainer {
	margin: 0 1.5rem;

	@media (max-width: breakpoints.$md) {
		margin: 0 0.5rem;
	}
}

.tipImage {
	width: 2rem;
	height: 2rem;
	margin: 0 0.125rem;

	@media (max-width: breakpoints.$md) {
		width: 1.5rem;
		height: 1.5rem;
	}
}

.spriteBtn {
	cursor: pointer;
	border-radius: 0.5rem;
	border: 1px solid #eee;
	background-color: #fff;
	height: 4rem;
	width: 4rem;
	padding: 0.125rem;

	@media (max-width: breakpoints.$md) {
		width: 3rem;
		height: 3rem;
	}
}

.tipPokeImage {
	width: 3.875rem;
	height: 3.875rem;

	@media (max-width: breakpoints.$md) {
		width: 2.875rem;
		height: 2.875rem;
	}
}

.darkImage {
	filter: brightness(0%);
}

.spriteBtn:hover {
	border: 1px solid #000;
}

.rowContainer {
	display: flex;
	margin-bottom: 0.25rem;
}

.letterContainer {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border: 2px solid #d3d6da;
	border-radius: 0.25rem;
	color: #292929;
	flex: 1 1 100%;
	max-width: 3.875rem;
	height: 3.875rem;
	box-sizing: border-box;
	margin: 0 0.125rem;

	@media (max-width: breakpoints.$md) {
		max-width: unset;
		height: 2rem;
		flex: 1 1 100%;
	}
}

.correctPosition {
	background-color: #6aaa64;
	color: #fff;
}

.correctLetter {
	background-color: #c9b458;
	color: #fff;
}

.wrongLetter {
	background-color: #787c7e;
	color: #fff;
}

.letter {
	min-width: 4rem;
	min-height: 4rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	line-height: 1;
	font-weight: bold;
	vertical-align: middle;
	text-transform: uppercase;
	user-select: none;

	@media (max-width: breakpoints.$md) {
		min-width: unset;
		min-height: unset;
		width: 2rem;
		height: 2rem;
		font-size: 1rem;
	}
}

.keyboardContainer {
	display: flex;
	flex-wrap: wrap;
	margin: auto;

	@media (max-width: breakpoints.$md) {
		margin: 0 auto;
		width: 91%;
	}
}

.keyboardButton {
	flex: 1 1 10%;

	@media (max-width: breakpoints.$md) {
		flex: unset;
	}
}

.smallScreen {
	@media (max-width: breakpoints.$md) {
		display: none;
	}
}