@use './breakpoints';

.container {
    margin: 3rem 1.5rem;
    min-width: 60rem;
    display: flex;
    justify-content: space-between;

    @media (max-width: breakpoints.$md) {
        flex-direction: column;
        min-width: unset;
    }
}

.link {
    text-align: center;
    text-decoration: none;
    color: #292929;
    border-radius: 0.25;
    border: 2px solid #292929;
    flex: 0 1 30%;
    padding: 5rem;

    @media (max-width: breakpoints.$md) {
        flex: 1 1;
        margin: 0 0 0.5rem;
    }
}