.header {
	margin: 0 auto;
	height: 3.125rem;
	max-width: 72rem;
}

.headerContainer {
	background-color: #ef5350;
	margin: 0 0 1.5rem 0;
}

.input {
	font-size: 14px;
	outline: 0;
	height: 40px;
	border: 1px solid rgba(102, 102, 102, 0.7);
	border-radius: 20px;
	padding-left: 5px;
	display: -ms-inline-flexbox;
	display: inline-flex;
	min-width: 31.25rem;
}

.inputContainer {
	margin: 0 0 1.5rem 0;
	display: flex;
	justify-content: center;
	position: relative;
}

.img {
	width: 2rem;
	height: 2rem;
}
